<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Currency Identifier</title>
    <meta http-equiv="refresh" content="3; url=second.html"/>
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="heading">
      <h2> <b>CURRENCY IDENTIFIER</b> </h2>
     </div>
    <div class="image">
      <img src="../static/Resources/logo.png" alt="logo">
    </div>
      <div class="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="loading">
        <h1>Loading</h1>
      </div>
    </div>
  </body>
</html>
