body{
  background: linear-gradient(to right,#1F2058 1%,#00083E);
}
.info{
   font-family: 'Sansita', sans-serif;
    text-transform: uppercase;
    color: #52FBDD;
    text-align: center;
    font-size: 18px;
}
.info p{
    margin-top: 9%;
    margin-bottom: 50%;
    word-spacing: 10px;
}
.container {
  width: auto;
 margin-right: 30px;
}
img {
  width: 100px;
  height: 100px;
  margin: 20px;
  margin-bottom:0;
}
input[type="file"] {
       color: transparent;
       margin: auto;


    }
button{
  border: none;
  background-color: transparent;
  width:  110px;
  height: 110px;
  margin-left: 50px;
  margin-bottom:auto;

}
input[type="file"] {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

label {
    display: inline-block;
    width: 100px;
    height:100px;
    margin: auto;
}
.or{
  color: #52FBDD;
  font-family: 'Sansita', sans-serif;
  margin-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
}
.note{
  color: #52FBDD;
  text-align: center; 
  font-family: 'Sansita', sans-serif;
  margin-top: 170px;
}
.add{
  position: relative;
  color: #52FBDD;
  text-align: center; 
  font-family: 'Sansita', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom:auto;
  bottom: 50px;
}